---
import "../styles/site.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      PgScope - Understand Your Postgres Schema and Run Correct Queries
    </title>
  </head>

  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><a href="/">PgScope</a></h1>
        </div>
        <nav>
          <ul>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="https://blog.pgscope.com">Blog</a></li>
            <li><a href="https://app.pgscope.com">Sign In</a></li>
            <li><a href="https://app.pgscope.com">Create Account</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <slot />
    <footer>
      <p>&copy; 2024 PgScope. All rights reserved.</p>
    </footer>
  </body>
</html>
