---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <h1>
    Request a meeting about full service on premise hosting for $1,000 per
    month.
  </h1>
  <form action="https://app.pgscope.com/enterprise-request" method="post">
    <input type="text" placeholder="Your email" />
    <input type="text" placeholder="Phone Number" />
    <button type="submit">Contact Us</button>
  </form>
</PgLayout>
