---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <section class="faqs">
    <div class="container">
      <h2 id="faq">FAQs</h2>
      <h3>What is PgScope?</h3>
      <p>PgScope is a tool to make it it nicer to use postgres databases.</p>
      <h3>How do I get started?</h3>
      <p>Simply create an account and start using PgScope. It's that easy!</p>
      <h3>How much does it cost?</h3>
      Free for solo users, not much for teams, and a lot for full-service-on-premise
      enterprise :) . See our <a href="pricing">pricing page</a> for current plans
      and pricing!
    </div>
  </section>
</PgLayout>
