---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <section class="faqs">
    <div class="container">
      <h2 id="faq">FAQs</h2>
      <h3>What is PgScope?</h3>
      <p>PgScope is a tool to make it it nicer to use postgres databases.</p>
      <h3>How do I get started?</h3>
      You should be able to start using PgScope in less than 5 minutes. Here's how:
      <ol>
        <li>
          Go to the <a href="https://app.pgscope.com/accounts/register"
            >sign up page</a
          >
        </li>
        <li>Enter your email, username and password</li>
        <li>Press Submit</li>
        <li>Log in with your new email and password</li>
        <li>Enter a database connection url and name</li>
        <li>Press Submit</li>
        <li>Explore your database!</li>
      </ol>
      <h3>What databases do you support?</h3>
      We support all postgres databases, including AWS RDS, Google Cloud SQL, and
      Heroku Postgres, and any other postgres database you can connect to.
      <h3>How much does it cost?</h3>
      Free for solo users, not much for teams, and a lot for full-service-on-premise
      enterprise :) . See our <a href="pricing">pricing page</a> for current plans
      and pricing!
    </div>
  </section>
</PgLayout>
