---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <section class="hero">
    <div class="container">
      <h1>Understand Your Postgres Schema</h1>
      <p>
        PgScope helps you quickly grasp your database structure and then easily
        make and save queries.
      </p>
      <a href="https://app.pgscope.com" class="button">Get Started</a>
    </div>
  </section>

  <section class="boxes">
    <div class="container">
      <div class="box">
        <h3>Visualize Schema</h3>
        <p>
          See the whole schema. Then search and filter to find what you need.
        </p>
      </div>
      <div class="box">
        <h3>Quick Queries</h3>
        <p>Write, execute, and save queries with ease and efficiency.</p>
      </div>
      <div class="box">
        <h3>Boost Productivity</h3>
        <p>Share your queries with others.</p>
      </div>
    </div>
  </section>

  <!-- Endorsements -->
  <section class="boxes endorsements">
    <div class="container">
      <h2>What we hope people will say:</h2>
      <div class="endorsement box">
        <p class="quote">
          "I love PgScope. It's the easiest way to quickly search through my
          database schema and then use the results of that search in a query."
        </p>
      </div>
      <div class="endorsement box">
        <p class="quote">
          "Have you ever wanted to quickly get some gnarly Jsonb data from a
          record? In PgScope I just hover to see the full data from even a
          fairly long column entry. Or if I want to copy the data of any result
          cell I just click it and it's copied to my clipboard!"
        </p>
      </div>
    </div>
  </section>
</PgLayout>
