---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <section class="hero">
    <div class="container">
      <h1>Understand Your Postgres Schema</h1>
      <p>
        PgScope helps you quickly grasp your database structure and then easily
        make and save queries.
      </p>
      <a href="https://app.pgscope.com" class="button">Get Started</a>
    </div>
  </section>

  <section class="boxes">
    <div class="container">
      <div class="box">
        <h3>Visualize Schema</h3>
        <p>
          See the whole schema. Then search and filter to find what you need.
        </p>
      </div>
      <div class="box">
        <h3>Quick Queries</h3>
        <p>Write, execute, and save queries with ease and efficiency.</p>
      </div>
      <div class="box">
        <h3>Boost Productivity</h3>
        <p>Share your queries with others.</p>
      </div>
    </div>
  </section>
</PgLayout>
