---
import PgLayout from "../layouts/PgLayout.astro";
---

<PgLayout>
  <section class="boxes">
    <div class="container">
      <div class="box">
        <h2>Solo</h2>
        <h3>$0 (Free)</h3>
        <p>1 user</p>
        <a href="https://app.pgscope.com" class="button">Get Started</a>
      </div>
      <div class="box">
        <h2>Team</h2>
        <h3>$20 / month</h3>
        <p>Up to 5 people in a team.</p>
        <a href="https://app.pgscope.com" class="button">Get Started</a>
      </div>
      <div class="box">
        <h2>Enterprise</h2>
        <h3>$1000 / month</h3>
        <p>
          $1000 / month for on On-premise full support Enterprise with setup and
          help.
        </p>
        <a href="/enterprise" class="button">Request Enterprise Service</a>
        <!-- Contact us -->
        <!-- <form>
          <input type="text" placeholder="Your email" />
          <button type="submit">Contact Us</button>
        </form> -->
      </div>
    </div>
  </section>
</PgLayout>
